.flex-container {
    display: flex;
    background-color: none;
}

.flex-container>div {

    background-color: #08baf6;
    margin: 10px;
    padding: 20px;
    font-size: 30px;

}


.flex-container>.shape4 {

    background-color: #08e526;
    margin: 10px;
    padding: 20px;
    font-size: 30px;

}


.flex-container>.shape5 {

    background-color: #f1abf0;
    margin: 10px;
    padding: 20px;
    font-size: 30px;

}